Main/bin/*
Main/reobf/*
Main/jars/resources/*
Main/jars/saves/*
Main/jars/world/*
Main/temp/*
Main/src-b1.7.3_vanilla
Main/workspace/Client/bin/*
Main/workspace/Server/bin/*
Main/workspace/.metadata/.plugins/*
Inf20100415
